<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Production</key>
	<dict>
		<key>FlurryCode</key>
		<string>Flurry for PROD</string>
		<key>URL</key>
		<string>http://prod.spartzinc.com</string>
		<key>GoogleCode</key>
		<string>GA for PROD</string>
	</dict>
	<key>Development</key>
	<dict>
		<key>FlurryCode</key>
		<string> Flurry for DEV</string>
		<key>URL</key>
		<string>http://dev.spartzinc.com</string>
		<key>GoogleCode</key>
		<string>GA for DEV</string>
	</dict>
</dict>
</plist>
