<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Production</key>
	<dict>
		<key>CAMFlurryCode</key>
		<string>FlurryForProd</string>
		<key>CAMurl</key>
		<string>http://prod.spartzinc.com</string>
		<key>CAMGoogleAnalyticsCode</key>
		<string>GAforPROD</string>
	</dict>
	<key>Development</key>
	<dict>
		<key>CAMFlurryCode</key>
		<string>FlurryForDev</string>
		<key>CAMurl</key>
		<string>http://dev.spartzinc.com</string>
		<key>CAMGoogleAnalyticsCode</key>
		<string>GAforDEV</string>
	</dict>
</dict>
</plist>
